.fill-remaining-space {
  flex: 1 1 auto;
}

.footer {
  padding: 12px;
  font-size: 12px;
  margin-top: 40px;
}

.footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 225px;
  text-align: center;
}

@media screen and (max-width: 884px) {
  .footer-list {
    flex-direction: column;
  }
}
