html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.content {
  max-width: 800px;
  margin: auto;
}

.center {
  display: block;
  margin: auto;
}

.note {
  margin-left: 40px;
  font-weight: lighter;
}
